div.form-container {
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
    margin: 40px 2% 0 45px;
}

div.entire-form {
    width: 100%;
    clear: both;
}

div.entire-form div.input-label-container {
    float: left;
    display: inline-block;
    min-width: 167px;
    width: 16%;
    height: 42px;
    color: #222;
    font-size: 13px;
    line-height: 16px;
    vertical-align: middle;
}

div.input-label-text {
    height: 30px;
    display: table-cell;
    vertical-align: middle;
}

div.entire-form div.input-field-container {
    float: left;
    display: inline-block;
    min-width: 167px;
    min-height: 41px;
    vertical-align: middle;
    width: 50%;
}

div.input-field {
    padding-right: 16px;
}

div.entire-form div.button-container {
    float: left;
    display: inline-block;
    min-width: 167px;
    min-height: 41px;
    vertical-align: middle;
    width: 50%;
}

.rounded {
    border-radius: 24px;
    max-width: 584px;
    height: 44px;
    display: block;
    margin: auto;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    width: 272px;
    height: 92px;
}

.images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    width: 272px;
    height: 100px;
}

.btns {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.btns li {
    display: inline-block;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.nav-btns li {
    display: inline-block;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.custom-btn {
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.adv {
    margin-left: 25px;
    color: #d93025;
    font-size: 20px;
    font-family: Arial, sans-serif;
    font-weight: lighter;
}

.border {
    border-bottom: solid rgb(210, 210, 210) thin;
}

.inputs {
    max-width: 554px;
}

.cust-form-group {
    width: 1140px;
    height: 210px;
    padding-left: 60px;
    padding-top: 25px;
}

.form-group .row label {
    font-family: Arial, sans-serif;
    font-size: 13px;
    font-weight: lighter;
    text-align: left;
}

.form-group .row .cust-label {
    font-size: 16px;
}

#adv {
    float: right;
    margin-right: 32.1%;
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    color: white;
    font-weight: bold;
}